body{
  height: 2000px;
}
.bbottom{
    border-bottom: none;
}
.colorRed {
  color: red;
}
.fs14 {
  font-size: 14px;
}
.fwblog {
  font-weight: 900;
}
.banxin{
    width: 970px;
    margin: 0 auto;
}
/* top B */
.top {
    height: 26px;
    border-bottom:1px solid #d8d8d8;
    background-color: #f7f7f7;
}
.t_c_wel{
    line-height: 26px;
}
.t_c_nav{
    height: 26px;
}
.t_c_nav li{
    float:left;
    line-height: 26px;
    padding-right: 10px;
}
.t_c_nav a{
    font-size:14px;
}
.t_c_nav b{
    display:inline-block;
    width: 11px;
    height: 4px;
    background: url(../images/sprite.fw.png) no-repeat -10px -96px;
    vertical-align:middle;
}
/* top E */

/* logo B */
.logo{
    height: 96px;
    // background-color: red;
}
.l_left{
    display:inline-block;
    width: 197px;
    height: 53px;
    background:url(../images/sprite.fw.png) no-repeat;
    margin: 24px 0 0 12px;
}
.l_right {
    width: 530px;
    height: 42px;
    border: 1px solid #A6A6A6;
    margin-top:24px;
}
.l_r_search {
    width: 518px;
    height: 28px;
    border: 1px solid #999;
    margin: 6px 5px 6px 5px;
}
.inp {
    width: 418px;
    height: 28px;
    color: #999;
}
.btn {
    width: 100px;
    height: 28px;
    background: #2F70D0;
    color: #fff;
    text-align: center;
    font-weight: bold;
}
/* logo E */
/* nav B*/
.nav {
    height: 24px;
    border-bottom: 2px solid #004D94;
    // background:red;
}
.nav li{
    float:left;
    line-height: 24px;  
}

.nav li a{
    display:inline-block;
    height:24px;
    padding: 0 14px;
    font-size:14px;
    font-weight:bold; 
    color:#306bae;       
}
.nav li a:hover{
    background:#0266a3;
    color:#fff;
}
/* nav E */
/* news B */
.news {
    height: 210px;
    // background:red;
    margin-top:14px;
}
.news .n_left {
    width: 200px;
    height: 210px;
    // background:yellow;
}
.n_left h3 {
    height: 30px;
    line-height: 30px;
    background: #0266A3;
    color:#fff;
    padding-left: 20px;
    font-size:14px;
}
.n_left ul {
    height: 180px;
    background: #EBF0F6;  
}
.n_left li {
    height: 30px;
    line-height: 30px;

    font-size: 14px;
}
.n_left li .one{
    display:inline-block;
    width: 21px;
    height: 13px;
    background:url(../images/sprite.fw.png) no-repeat 0 -66px;
}
.n_left li .two{
    display:inline-block;
    width: 21px;
    height: 15px;
    background:url(../images/sprite.fw.png) no-repeat -34px -66px;
}
.n_left li .three{
    display:inline-block;
    width: 21px;
    height: 14px;
    background:url(../images/sprite.fw.png) no-repeat -66px -66px;
}
.n_left li .four{
    display:inline-block;
    width: 21px;
    height: 16px;
    background:url(../images/sprite.fw.png) no-repeat -98px -66px;
}
.n_left li .five{
    display:inline-block;
    width: 21px;
    height: 16px;
    background:url(../images/sprite.fw.png) no-repeat -130px -66px;
}
.n_left li .six{
    display:inline-block;
    width: 21px;
    height: 16px;
    background:url(../images/sprite.fw.png) no-repeat -160px -66px;
}
.n_left li b{
    display:block;
    margin:0 10px;
}
.news .n_center {
    width: 520px;
    height: 210px;
    background:url(../images/banner.gif) no-repeat;
    margin:0 10px;
    position: relative;
}
.n_center_bottom {
    width: 100%;
    height: 30px;
    background:#ccc;
    position: absolute;
    bottom:0;
    opacity: 0.5;
    filter: Alpha(opacity=50);
}
.n_center_bottom ul{
    margin-top:5px;
    margin-right:10px;
}

.n_center_bottom li{
    float:left;
    margin-right:3px;
}
.n_center_bottom li a{
    display:inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background: white;
    text-align:center;
}
.n_center_bottom li a:hover{
    background:#255D85;
    color:white;
}


.news .n_right {
    width: 230px;
    height: 210px;
    // background: green;
}
.n_right .n_r_t {
    width: 228px;
    height: 94px;
    border: 1px solid #e0e6f0;
    background:#f7faff;
}
.n_r_t h3{
    font-size:14px;
    margin:7px 0 7px 18px;
}
.n_r_t .n_t_r_mess{
    height: 46px;  
    margin-top:20px;
     
}
.n_t_r_mess b{
    display:inline-block;
    width: 40px;
    height: 39px;
    background:url(../images/sprite.fw.png) no-repeat -56px -96px;
    margin: 0 10px;
    vertical-align: middle;
}
.n_t_r_mess span{
    display:inline-block;
    height: 40px;
    line-height: 20px;
    vertical-align:middle; 
}

.n_right .n_r_b {    
    width: 230px;
    height: 92px;
    background: #F7F7F7;
    margin-top: 22px;
    font-size:14px;  
    text-align:center;  
}
.n_r_b .message{
    padding:10px 0;
}
.n_r_b .phone b{
    display:inline-block;
    width: 14px;
    height: 18px;
    background:url(../images/sprite.fw.png) no-repeat -32px -96px;
    padding-left:10px;
    vertical-align:middle;
}
.n_r_b .btn{
    width: 81px;
    height: 23px;
    background:url(../images/sprite.fw.png) no-repeat 0 -144px;
    margin-top:4px;
}
/* news E */

/* goods B */

/* floorOne B */
.floorOne {
    height: 394px;
    // background:red;
    margin-top:14px;
}
.floorOne .meate {
    height: 34px;
    line-height: 34px;
    border-top: 2px solid #C3D7E4;
    background:#ECF1F7;
    font-size:14px;
    font-weight:bold;
    margin-bottom:12px;
    padding-left:22px;
}
.floorOne .goods {
    height: 346px;
    // background:yellow;
}
.floorOne .goods .left{
    width: 728px;
    height: 346px;
    // background:deeppink;
    border: 1px solid #D8D8D8;
}
.floorOne .goods .g_l_t{
    width: 728px;
    height: 172px;
    border-bottom: 1px solid #D8D8D8;
    // background:white;
}
.floorOne .goods .g_l_t_mess{
    width: 318px;
    height: 156px;
    margin-left:28px;
    padding-top:16px;
    // background:pink;
}
.floorOne .g_l_t_mess .iimg{
    width: 99px;
    height: 156px;
    // background:green;
    margin-right:10px;
    
}
.floorOne .g_l_t_mess .iimg b{
    display:inline-block;
    width: 99px;
    height: 102px;
    background:url(../images/01stuff.png);
    margin-bottom:14px;
}
.floorOne .g_l_t_mess .iimg .b_one{
    background:url(../images/01stuff.png);
}
.floorOne .g_l_t_mess .iimg .b_two{
    background:url(../images/02stuff.png);
}
.floorOne .g_l_t_mess .iimg .b_three{
    background:url(../images/03stuff.png);
}
.floorOne .g_l_t_mess .iimg .b_four{
    background:url(../images/04stuff.png);
}
.floorOne .g_l_t_mess .iimg .bbtn{
    width: 99px;
    height: 26px;   
    background:#0A84E3;
    font-size:14px;
    color:#fff;
    line-height: 26px;
    text-align:center;
}
.floorOne .g_l_t_mess .mmess{
    width: 209px;
    height: 156px;
    // background:blue;
}
.floorOne .g_l_t_mess .goodwife{
    margin:10px 0;
    font-size:14px;
    line-height: 14px;   
    color:#000;
}
.floorOne .g_l_t_mess .action{
    color:#863E01;
    height: 24px;
    line-height: 12px;
    margin-bottom:20px;
}
.floorOne .g_l_t_mess .price .quan{
    display:inline-block;
    width: 14px;
    height: 14px;
    background:url(../images/sprite.fw.png) no-repeat -106px -96px;
}


.floorOne .g_l_t_mess .one{
    margin-top:28px;
}

.floorOne .goods .right{
    width: 228px;
    height: 346px;
    border: 1px solid #D8D8D8;
    // background:blue;
}
.floorOne .right .zixun{
    width: 228px;
    height: 28px;
    line-height: 28px;
    background:#fcfcfc;
    padding-left:16px;
    font-size:14px;
}
.floorOne .right ul{
    padding-top:10px;
}
.floorOne .right li{
    height: 24px;
    line-height: 24px;
}
.floorOne .right li b{
    display:inline-block;
    width: 4px;
    height: 4px;
    background:url(../images/sprite.fw.png) no-repeat 0 -96px;
    margin: 0 10px;
    vertical-align:middle;
}
.floorOne .right li a{
    vertical-align:middle;
}
/* floorOne E */
/* floorTwo B */
.floorTwo {
    height: 374px;
    margin-top: 14px;
    // background:red;
}
.floorTwo .meate {
    height: 34px;
    line-height: 34px;
    border-top: 2px solid #C3D7E4;
    background:#ECF1F7;
    font-size:14px;
    font-weight:bold;
    margin-bottom:12px;
    padding-left:22px;
} 
.floorTwo .goods{
    height: 328px;
    // background:yellow;
}
.floorTwo .goods .left{
    width: 726px;
    height: 328px;
    // background:pink;
}
.floorTwo .left .g_l_t{
    width: 726px;
    height: 23px;
    border-bottom: 2px solid #00B0E7;
    // background: blue;
}
.floorTwo .left .g_l_t b{
    display:inline-block;
    width: 142px;
    height: 23px;
    background: url(../images/sprite.fw.png) no-repeat 0 -176px;
}
.floorTwo .left .g_l_t a{
    display:inline-block;
    float:right;
    font-weight:bold;
    color:#1A66B3;
    line-height: 23px;
}
.floorTwo .left .g_l_chair{
    width: 724px;
    height: 301px;
    border: 1px solid #CACACA;
    border-top:none;
    // padding-top:3px;
}
.floorTwo .g_l_chair .g_l_chairOne{
    width: 163px;
    height: 293px;
    // background: purple;
    margin: 4px 8px;
}
.floorTwo .g_l_chairOne b{
    display:inline-block;
    width: 163px;
    height: 170px;
    background: url(../images/chair_l_01.png);
}
.floorTwo .g_l_chairOne .imgOne{
    background:url(../images/chair_l_01.png);
}
.floorTwo .g_l_chairOne .imgTwo{
    background:url(../images/chair_l_02.png);
}
.floorTwo .g_l_chairOne .imgThree{
    background:url(../images/chair_l_03.png);
}
.floorTwo .g_l_chairOne .imgFour{
    background:url(../images/chair_l_04.png);
}
.floorTwo .g_l_chairOne .g_l_b_mess p{
      color:#999999;
      text-align:center;
      line-height: 24px;
}
.floorTwo .g_l_chairOne .g_l_b_mess .colorBlack{
      color:#333333;
}
.floorTwo .goods .right{
    width: 230px;
    height: 328px;
    // background:green;
}
.floorTwo .goods .right .g_r_top{
    display:inline-block;
    width: 219px;
    height: 130px;
    background:url(../images/chair_r_01.png);
    margin-bottom:10px;
}
.floorTwo .goods .right .g_r_botton{
    display:inline-block;
    width: 219px;
    height: 177px;
    background:url(../images/chair_r_02.png);
}
/* floorTwo E */
/* goods E */

/* friend B */
.friend{
    height: 102px;
    border-top: 1px solid #DDDDDD;
    // background:red;
    margin-top:18px;
}
.friend .f_top{
    margin-top:30px;
}
.friend .f_bottom{
    text-indent: 5em;
    margin-top: 15px;
}
/* friend E */
/* foot B */
.foot {
    height: 92px;
    border-top:2px solid #00B0E7;
}
.foot ul{
    text-align: center;
    margin-top:10px;
}
.foot li{
    display:inline-block;
}
/* foot E */
