/*导航部分start*/

.nav{
    height: 44px;
    // background-color: pink;
    border-bottom: 2px solid #B1191A;
}
.categories{
    width: 210px;
    height: 44px;
    background-color: #B1191A;
}
.cate-dt a{
    font: 400 15px/44px "microsoft yahei";
    color: #fff;
    display:block;
    width: 200px;
    height: 44px;
    padding-left: 10px;
}
.cate-dd {
    width: 209px;
    height: 466px;
    background-color: #C81623;
    border-left: 1px solid #B61D1D;
    margin-top: 2px;
}
.cate-item {
    height: 31px;
    padding-left: 10px;
    position: relative;
}
.cate-item:hover {
    background-color: #fff;
}
.cate-item a {
    font: 400 14px/31px "microsoft yahei";
    color: #FFF;
}
.cate-item:hover a {
    color: #C81623;
}
.cate-item i{
    font: 400 9px/14px consolas;
    color: #FFF;
    position: absolute;
    right: 12px;
    top: 9px;
}

.navitems {
    width: 730px;
    height: 44px;
    overflow:hidden;
    // background-color: yellow;
}
.navitems li{
    float:left;
}
.navitems  a{
    display:block;
    padding: 0 20px;
    font: 400 16px/44px "microsoft yahei";
}

.treasure{
    width: 200px;
    height: 44px;
    // background: blue;
}
.treasure a{
    display: block;
    width: 200px;
    height: 54px;
    background:url(../images/party.jpg);
    position: relative;
    top:-10px;
    left:-50px;
}
/*导航部分end*/

/*背景广告strat*/
.bg-banner{
    // height: 644px;
    background-color: blue;
    position: relative;
}
.bg-banner a{
    height: 644px;
    position: absolute;
    width: 100%;
    background:url(../images/bg-banner.jpg) no-repeat top center;
}
/*背景广告end*/

/*主体部分start*/
.main {
    // height: 466px;
    // background-color: pink;
     margin-bottom: 10px;
}
.slider{
    width: 730px;
    height: 454px;
    margin-left: 220px;
    margin-top: 12px;
    position: relative; 
}
.slider .circle{
    width: 132px;
    height: 18px;
    // background-color: red;
    position: absolute;
    bottom: 8px;
    left: 50%;
    margin-left:-66px;
}
.slider .circle li{
    float: left;
    width: 18px;
    height: 18px;
    background-color: #3E3E3E;
    margin: 0 2px;
    border-radius: 9px;
    text-align: center;
    line-height: 18px;
    color:#fff;
}
.slider .circle li.current {
    background-color: #B61B1F;
}

.slider .arrow a{
    width: 28px;
    height: 62px;
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    top: 50%;
    margin-top:-31px;
    font: 400 22px/62px "simsun"; /*新宋体*/
    text-align: center;
    color: #FFF;
}
.slider .arrow-l {
    left: 0;
}
.slider .arrow-r {
    right: 0;
}
.main-extra {
    width: 250px;
    height: 454px;
    margin-top: 12px;
    // background-color: red;
}
.news {
    width: 248px;
    height: 163px;
    border:1px solid #E4E4E4;
    // background-color: pink;
}
.news .mt{
    width: 218px;
    height: 32px;
    border-bottom: 1px dotted #E4E4E4;
    line-height: 32px;
    padding: 0 15px;
}
.news .mt h2 {
    font: 400 16px/32px "microsoft yahei";
    float: left;
}
.news .mt a {
    float: right;
}
.news .mc {
    padding: 7px 0 0 15px;
}
.news .mc li {
    line-height: 24px;
}
.news .mc span {
    font-weight: 700;
    margin-right: 5px;
}

.lifserv{
    width: 248px;
    height: 208px;
    border: 1px solid #E4E4E4;
    border-top: none;
    // background-color: blue;
}
.lifserv ul{
    width: 248px;
    
}
.lifserv li{
    width: 61px;
    height: 69px;
    border-right: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
    float: left;
    // background-color: pink;
    position: relative;
}
.lifserv li a{
    display:block;
    width: 61px;
    height: 28px;
    padding-top: 42px;
    text-align:center;
    line-height: 28px;
}
.lifserv i{
    width: 25px;
    height: 25px;
    background: url(../images/lifserv.png) 0 0 no-repeat;
    position: absolute;
    left: 20px;
    top: 12px;
}

.right-pic{
    margin-top: 5px;
}
/*主体部分end*/

/*活动部分start*/
.party {
    // height: 151px;
    // background-color: pink;
    margin-bottom: 40px;
}
.party .mc{
    width: 1000px;
    height: 164px;
    // background-color: blue;
}
.party .mc ul {
    width: 6000px;
}
.party .mc li{
    float: left;
    margin-right: 1px;
}
/*活动部分end*/
